{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Посты</title>
</head>
    <header>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </header>
<body>
    <div class="header"><img src="{% static 'image/logo.png' %}"></div>
    <div id="linker"><a class="vse-zapisi" href="{% url 'archive:create_post' %}">Создать новую запись</a></div>

    <div class="archive">
        {% for post in posts %}
            <div class="one-post">
                <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>